
.admin-navbar{
    padding: 20px;
    margin-top: 20px;
}

.dashboard-menu{
    margin-top: 50px;
}

.dashboard-menu li{
    margin-top: 20px;
}
.navbar-brand img {
    width: 202px;
    height: 60px;
}